<div class="max-w-xl mx-auto py-5">
    {{!-- <div class="mb-4 text-center">
        <a href="#"
            class="bg-green-500 text-white font-bold rounded-md py-3 px-4 block focus:ring-green-500 focus:ring-offset-2 focus:ring-2">Create
            Class</a>
    </div> --}}
    <div class="grid grid-cols-3 mb-3">
        <button
            class="outline-none appearance-none py-3 px-2 bg-white border-b-2 border-green-500 font-bold text-gray-800 tab-triggers"
            data-target="#tabItemClasses">Classes</button>
        <button
            class="outline-none appearance-none hover:border-green-200 py-3 px-2 bg-white border-b-2 border-gray-200 font-bold text-gray-800 tab-triggers"
            data-target="#tabItemPresences">Presences</button>
        <button
            class="outline-none appearance-none hover:border-green-200 py-3 px-2 bg-white border-b-2 border-gray-200 font-bold text-gray-800 tab-triggers"
            data-target="#tabItemWorks">Works</button>
    </div>

    <div class="tab-items" id="tabItemClasses">
        <h1 class="text-3xl text-gray-800">Classes</h1>
        {{!-- <div class="bg-white border-2 mx-auto border-gray-200 p-3 py-5 rounded-md w-full">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">First Class</h2>
        </div> --}}
    </div>
    <div class="tab-items" style="display: none;" id="tabItemPresences">
        <h1 class="text-3xl text-gray-800">Presences</h1>
    </div>
    <div class="tab-items" style="display: none;" id="tabItemWorks">
        <h1 class="text-3xl text-gray-800">Works</h1>
    </div>
</div>

<script src="/js/dashboard.js"></script>