<div class="max-w-xl mx-auto py-5">
    <a href="/classes/{{classId}}" class="text-green-500 hover:underline mb-3 text-sm">Back</a>
    <h1 class="text-3xl font-medium text-green-500 mb-3">{{work.dataValues.name}}</h1>
    <div class="mb-4">
        <small class="text-gray-500 font-bold">Teacher : {{classData.dataValues.User.dataValues.name}}</small>
    </div>
    <p class="text-gray-500">{{work.dataValues.description}}</p>
</div>